version: 2.1
jobs:
  build:
    # 使用するDockerイメージ
    docker:
      - image: circleci/node:12.20.0
    working_directory: ~/bola-chat
    # 処理内容
    steps:
      - checkout
      - run:
          name: install npm
          command: npm install
      - run:
          name: Setting npm
          command: npm run npm-ci
  test:
    # 使用するDockerイメージ
    docker:
      - image: circleci/node:12.20.0
    working_directory: ~/bola-chat
    # 処理内容
    steps:
      - checkout
      - run:
          name: Run test
          command: npm run test