version: 2.1
jobs:
  build:
    # 使用するDockerイメージ
    docker:
      - image: circleci/node:12.20.0
    working_directory: ~/bola-chat
    # 処理内容
    steps:
      - checkout
      - run:
          name: install npm
          command: npm install
      - run:
          name: Setting npm
          command: npm run npm-ci
      - run:
          name: build
          command: npm run apps:build:dev
  test:
    # 使用するDockerイメージ
    docker:
      - image: circleci/node:12.20.0
    # 処理内容
    steps:
      - checkout
      - run:
          name: install npm
          command: npm install
      - run:
          name: Setting npm
          command: npm run npm-ci
      - run:
          name: Run test
          command: npm run test

  e2e:
    # 使用するDockerイメージ
    docker:
      - image: circleci/node:12.20.0-browsers
    # 処理内容
    steps:
      - browser-tools/install-browser-tools
      - checkout
      - run:
          name: install npm
          command: npm install
      - run:
          name: Setting npm
          command: npm run npm-ci
      - run:
          name: Run e2e
          command: npm run e2e

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
          requires:
            - build
      - e2e:
          requires:
            - build